# Building/Packaging/Distributing.
build/
dist/
*.egg-info/

# Byte-compiled/Optimized Python and Library/DLL files.
*.py[cod]
__pycache__

# Testing and CI tasks.
.pytest_cache/
.tox

# `make coverage-html` output
.coverage
htmlcov/

# pytest-cov / coverage / https://codecov.io
coverage.xml

# Sphinx
docs/_build
# After `make docs`:
docs/modules.rst


# FIXME: CLEANUP:
docs/dob.rst


#docs/dob.backends.rst
#docs/dob.backends.sqlalchemy.rst
#docs/dob.helpers.rst
# `make docs` Sphinx autodocs-generated.
#docs/dob.backends.sqlalchemy.managers.rst
#docs/dob.helpers.dev.rst
#docs/dob.items.rst
#docs/dob.managers.rst



# In lieu of a personalizable, secondary Grep/Silver Searcher/RipGrep ignore,
# like .gitignore's .git/info/exclude, the repo contains an .ignore.example.
.ignore

# ‘quickfix’ make task for Vim development.
.make.out

# Translations
*.mo

