# vim:tw=0:ts=2:sw=2:noet:ft=make:

# Use double-colon to chain rule with same-named rule defined in Makefile.
help-local::
	@echo
	@echo " Makefile.local rules"
	@echo " --------------------"
	@echo "   foo-bar         your rules here!"
.PHONY: help-local

