# USAGE: Copy to `requirements/ultra-editable.pip`.
#
#        Then when you run `make develop` or `tox`, pip installs
#        each of the HOTH projects from local, editable sources,
#        rather than from the PyPI server.
#
#        - I.e., ensure that your local changes to other projects
#          are used when you run the code or run the tests!
#
#        NOTE: Obviously, be sure to remove/comment any projects
#        below that you did not checkout locally, or that you do
#        not wish to have installed as editable.

# These default paths assume you have every project checked out or symlinked
# from the parent directory of this project. Edit as necessary for your user.

-e ../click
-e ../click-alias
-e ../ansi-escape-room
-e ../sqlalchemy-migrate
-e ../python-prompt-toolkit

-e ../config-decorator
-e ../human-friendly_pedantic-timedelta
-e ../pep440-version-compare-cli

-e ../nark

-e ../dob-bright
-e ../dob-prompt
-e ../dob-viewer

